@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiListItemIcon-root {
  min-width: 35px !important;
}

body {
  /* width */
  ::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d1d1d1;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

p,
span,
input,
select,
label,
tr,
td,
th,
button {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
